<ion-view title="代言人管理">
    <link rel="stylesheet" href="./css/myProfit.css"/>
    <link rel="stylesheet" href="./css/table.css"/>
    <ion-nav-bar>
        <ion-nav-back-button>
            <i class="icon ion-android-arrow-back"></i>返回
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <div class="profitWrapper">
            <div class="totProfit"><span>总收益 <br/> {{profit.totalProfit}}元</span></div>
            <div class="sepProfitWrapper">
                <div class="fromScanUser"><span>用户关注收益 <br/> {{profit.recScanUserProfit}}元</span></div>
                <div class="fromUser"><span>用户注册收益 <br/> {{profit.recUserProfit}}元</span></div>
                <div class="fromOrder"><span>订单收益 <br/> {{profit.orderProfit}}元</span></div>
            </div>
        </div>
        <div class="cash"><span>可提现收益<br/> {{profit.remaining}}元</span></div>
        <div id="goCash" ui-sref="cashPage">去提现</div>
        <section class="sep">
            <div class="description sectionTitle">提现记录</div>
            <table>
                <tr>
                    <th>金额</th>
                    <th>提现时间</th>
                    <th>状态</th>
                </tr>
                <tr ng-repeat="item in withdrawHis.data">
                    <td>{{item.amount}}</td>
                    <td>{{item.create_time}}</td>
                    <td>{{item.status}}</td>
                </tr>
            </table>
        </section>
    </ion-content>

</ion-view>