
<ion-view>

    <ion-content class="bgImg">
        <div id="page">
            <div class="form_box">
                <div class="form">
                    <div class="form_title">
                        <span>登录</span>
                        <!--<span><a href="register.html">立即注册</a></span>-->
                    </div>
                    <div class="input_box">
                        <input type="text" class="userName" ng-model="data.phone" placeholder="手机号码"  />
                        <input type="password" class="passWord" ng-model="data.password" placeholder="密码" />
                    </div>
                </div>
                <div class="submit" ng-click="login()">登录</div>
                <p>
                    <!--<a href="resetPassword.html">重设密码</a>-->
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>